NEXT_PUBLIC_APP_NAME="Monitoring Proyek"
NEXT_PUBLIC_APP_DESC="Kelola dan lacak anggaran di semua proyek Anda."
NEXT_PUBLIC_APP_GITHUB="https://github.com/dhanyalvian/js-nextjs-monitoring-proyek-dashboard"

CONFIG_API_URL="http://localhost:8080"

NEXT_PUBLIC_CONFIG_API_INT_EP="/api/v1"
NEXT_PUBLIC_CONFIG_IMAGE_REMOTE="https://cdn.dummyjson.com/**|https://dummyjson.com/icon/**|https://lh3.googleusercontent.com/a/**"
NEXT_PUBLIC_CONFIG_API_LIMIT=10
NEXT_PUBLIC_CONFIG_API_DELAY=3000
NEXT_PUBLIC_CONFIG_NOTIF_TIMEOUT=5000